@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat';
}
.gridColumn-1 {
  grid-column:1;
}
.gridColumn-2 {
  grid-column:2;
}
.gridColumn-3 {
  grid-column:3;
}
.gridColumn-4 {
  grid-column:4;
}
.gridColumn-5 {
  grid-column:5;
}
.gridColumn-6 {
  grid-column:6;
}
.gridColumn-7 {
  grid-column:7;
}